body{
    font-family: 'Times New Roman';
    text-align: center;
    font-size: 2rem
}
button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: hsl(0, 60%, 52%);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsla(0, 46%, 53%, 0.868);
}
button:active{
    background-color: hsla(0, 46%, 53%, 0.555);
}
input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}
#diceResult{
    margin: 25px;
}
#diceImages img{
    width: 150px;
    margin: 20px;
}